OOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL=''

ACCESS_TOKEN_SECRET=''
REFRESH_TOKEN_SECRET=''

DB_USER='testuser'
DB_PASSWORD='tagin1234'
DB_NAME='tagin'

# true or false
IS_PRODUCTION='false'